
    <ion-view>
      <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title" style="text-align:center; color:purple">Is this a horse?</h1> 
<!--          The title bar has a title of "GuestBook" and uses an "h1" HTML tag -->
      </ion-header-bar>
      <ion-content>
          
   <!--        <button class="button" id = "first question" ng-click="isHorse()">Yes</button>
           <button class="button" id = "first question" ng-click="isNotHorse()">No</button> 
-->
        <div>  
          <p style="text-align:center">
              <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2F7a%2F2d%2F3e%2F7a2d3e9536f1bbf572270204dca0ab7b.jpg&f=1" alt="animal" height="350" width="350">
            </p>
          </div>
            
         <div>
            <p style="text-align:center" >
                <button ion-button style="background-color:pink"  id="isHorse" ng-click="isHorse(1)">Yes</button> 
                
                <button ion-button style="background-color:#BF00FF" id="isNotHorse" ng-click="isHorse(0)">No</button>
            </p>
          </div>
          
          
      
      </ion-content>
    </ion-pane>
  </ion-view>